article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
 height: 100vh;
 font-family: 'lato',sans-serif;
}
.main{
	height: 100vh;
}

/*header*/

.topBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 30px;
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 0.33);
}

img.logo{
	width: 65px;
  animation-duration: 3s;
}

img.logo2{
	width: 47%;
}

nav.initialNav, nav.userNav {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    align-items: center;
}

nav.initialNav a,  nav.userNav a{
	padding: 15px;
	padding: 0px 15px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

 nav.initialNav a:hover, nav.userNav a:hover{
 	color:#54c4e8;
 }
 .lyricsBtn:hover{
 	color: black;
 }
/*icons before and after:*/
a.logOut:before{
	font-family: FontAwesome;
   	content: "\f08b";
   	padding-right: 5px;
}

a.logIn:before{
	font-family: FontAwesome;
   	content: "\f090";
   	padding-right: 5px;
}

a.signUp:before{
	font-family: FontAwesome;
   	content: "\f234";
   	padding-right: 5px;
}

a.playSpo:before, a.savedSpo:before{
	font-family: FontAwesome;
   	content: "\f04b";
   	padding-right: 5px;
}
a.addBtn:before{
	font-family: FontAwesome;
   	content: "\f055";
   	padding-right: 5px;
}
a.lyricsBtn:before{
	font-family: FontAwesome;
   	content: "\f0c9";
   	padding-right: 5px;
}
h2.myMusicTitle:after{
	font-family: FontAwesome;
	content: "\f0ab";
	padding-left: 5px;
}


/* modals */
.modal, .overlay {
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s ease;
	position: absolute;
}

.modal.show, .overlay.show {
	visibility: visible;
	opacity: 1;
	z-index: 99;
}

.modal {
	width: 400px;
	background: white;
	border: 10px solid rgba(255,255,255,0.5);
	top: 50%;
	left: 50%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.56);
	border-radius: 20px;
	transform: translate(-50%,-50%);
}

.modal div {
	margin: 10px;
}
.modalLogo{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.modal label {
	margin-right: 10px;
}

.overlay {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}
.close {
    display: flex;
    flex-direction: row-reverse;
    margin: 0!important;
    font-size: 20px;
}
form.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalTitle{
	margin-bottom: 0;
}
.modal input {
   width: 300px;
   padding: 10px;
   border-radius: 5px;
   height: 40px;
}
.modalSubmit{
	padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 3px;
    text-shadow: 2px 1px 1px #2f7085;
    color: white;
    background: #54c4e8;
    border: none;
    box-shadow: 4px 4px 0px #2f7085;
    margin-bottom: 25px;
}
i.fa.fa-times-circle:hover {
    color: #54c4e8;
    cursor: pointer;

}
/*search bar*/
p.notice{
	text-align: center;
	color: #757575;
}
input.lyrics {
    background: none;
    border: none;
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    color: #35a4ff;

}
input.lyrics::-webkit-input-placeholder, h2.myMusicTitle, .addBtn, footer a:hover{
/*bacground for all browsers:*/
    background: #fc00ff; 
    background: -moz-linear-gradient(left,  #fc00ff 0%, #862dff 50%, #35a4ff 100%); 
    background: -webkit-linear-gradient(left,  #fc00ff 0%,#862dff 50%,#35a4ff 100%); 
    background: linear-gradient(to right,  #fc00ff 0%,#862dff 50%,#35a4ff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc00ff', endColorstr='#35a4ff',GradientType=1 ); 
    /*clip background:*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:40px;
}

.findBtn {
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 3px;
    text-shadow: 2px 1px 1px #2f7085;
    color: white;
    background: #54c4e8;
    border: none;
    box-shadow: 4px 4px 0px #2f7085;
}
.findBtn:hover{
	background: #2488a8;
	box-shadow: 2px 2px 0px #2f7085;
}
/*results*/

.savedSongs h2 {
    text-align: center;
    
}
.results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 45vh;
}

img.artistPic{
	display: block;
	width: 100%;
	height: 250px;
}

.songContainer{
	width: 300px;
	background:white;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.41);
	border-radius: 10px;
	overflow:hidden;
	margin-bottom: 25px;
}
.info{
	height: 85px;
	overflow-y: scroll;
	text-align: center;
    padding: 0px 10px;
    border-bottom: 1px solid #d7d7d7;
}
p.songTitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0;
}
p.artistTitle {
    color: rgba(125, 125, 125, 0.64);
    margin-top: 5px;
    margin-bottom: 0;
}
p.albumTitle {
    margin: 5px 0px;
    font-style: italic;
    color: #7d7d7d;
}
a.playSpo{
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: bold;
    display: block;
    padding: 15px 5px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
}
.buttons{
	display: flex;
    align-items: center;
}
.addBtn, .lyricsBtn{
	width: 50%;
}
.addBtn{
	border: none;
	padding: 10px;
	border-left: 1px solid #d7d7d7;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
	font-weight: bold;

}
.lyricsBtn{
	text-decoration: none;
	text-align: center;
	color:rgba(125, 125, 125, 0.64);
	border: none;
	padding: 10px;
}
.addBtn:hover{
	background:black;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Saved Music*/
h2.myMusicTitle{
	font-size: 30px;
}
.savedPic{
	height: 100px;
}
img.listPic {
    width: 120px;
    height: 100%;
}
.savedSongs {
    max-width: 650px;
    margin: 0 auto;
}
.savedContainer {
    display: flex;
    margin: 10px 5px;
    border-radius: 3px;
    overflow: hidden;
    background: white;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.38);
}
.savedInfo {
    background: white;
    padding: 5px 30px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}
.removeBtn{
	float: right;
	padding:0;
	background: none;
	border: none;
	font-size: 25px;
	color: red;
}
p.savedSong {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}
p.savedArtist {
    margin: 10px 0px;
    color: #979797;
}
a.savedSpo {
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #1ED760;
}
.playSpo:hover{
	 color: #1ED760;
}

/*footer*/
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px;
    }

footer a{
	text-decoration: none;
	font-weight: bold;
	color:#35a4ff;

}

/*responsive*/


@media (max-width: 600px) {
	input.lyrics{
		font-size: 35px;
	}

}

@media (max-width: 450px) {
	input.lyrics{
		font-size: 30px;
	}
	.topBar{
		flex-direction: column;

	}

	.logo{
		margin-bottom: 5px;
	}

	.modal{
		width: 350px;
	}
	.savedInfo{
		padding: 5px 5px 0px 15px;
	}

	footer p{
		font-size: 13px;
	}
	.results{
		min-height: 30vh;
	}

}
